<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>Backbone Init | Twitter app</title>
<link rel="stylesheet" type="text/css" href="styles.css">
<script type="text/javascript" src="jquery.js"></script>
<script type="text/javascript" src="underscore.js"></script>
<script type="text/javascript" src="backbone.js"></script>
<script type="text/javascript" src="mustache.js"></script>
</head>
<body>

  <header id="header">
    <div class="wrap">
    </div>
  </header>

  <div class="wrap" id="container">
       
    <iframe id="render_frame"></iframe>

  </div>
<script type="text/javascript" src="init.js"></script>
</body>
</html>