body{
  margin: 0;
  padding: 0;
  padding-top: 50px;
  background: #def;
  font-family: arial;
}
h3{
  color: #333
}
ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
.wrap{
  width: 960px;
  margin: 0 auto;
  padding: 10px;
  display: table;
}
#container{
  min-height: 600px;
  margin: 10px auto;
  padding: 10px;
}
#header{
  min-height: 42px;
  color: #fff;
  position: fixed;
  width: 100%;
  top: 0;
  background: #017890;
  z-index: 10;
}
.head{
  font-size: 20px;
  margin: 4px 0px;
}
.render_frame{
  width: 100%;
  height: 100%;
  border: 0px;
}
.right{
  float: right;
}
.left{
  float: left;
}
.btn {
  -moz-box-shadow:inset 0px 1px 0px 0px #dcecfb;
  -webkit-box-shadow:inset 0px 1px 0px 0px #dcecfb;
  box-shadow:inset 0px 1px 0px 0px #dcecfb;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #bddbfa), color-stop(1, #80b5ea) );
  background:-moz-linear-gradient( center top, #bddbfa 5%, #80b5ea 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bddbfa', endColorstr='#80b5ea');
  background-color:#bddbfa;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid #84bbf3;
  display:inline-block;
  color:#ffffff;
  font-family:arial;
  font-size:15px;
  font-weight:bold;
  padding:6px 24px;
  text-decoration:none;
  text-shadow:1px 1px 0px #528ecc;
}
.btn:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #80b5ea), color-stop(1, #bddbfa) );
  background:-moz-linear-gradient( center top, #80b5ea 5%, #bddbfa 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#80b5ea', endColorstr='#bddbfa');
  background-color:#80b5ea;
}
.btn:active {
  position:relative;
  top:1px;
}
#countdown{
  font-size: 1.2em;
}
#facebox h2{
  border-bottom: 1px solid #ccc;
  margin: 0;
  padding: 10px 0pc;
  border-radius: 4px 4px 0px 0px;
  margin-bottom: 14px;
  color: #369;
}
#flag_form textarea{
  width: 360px;
  height: 80px;
}
button{
  cursor: pointer;
}
/* CSS3 Progress bars by Josh Sullivan
   @jsullivandigs on Twitter
   josh@dipperstove.com */

.bar_container {
  margin: 0 auto;
  padding: 5px;
  height: 20px;
  background: #a0a0a0;
  -webkit-box-shadow: 0px 1px 1px 0px #f0f0f0;
  -moz-box-shadow: 0px 1px 1px 0px #f0f0f0;
  box-shadow: 0px 1px 0px 0px #f0f0f0;
}

.bar_mortice {
  height: 20px;
  background: #777;
  -webkit-box-shadow: inset 0px 1px 2px 0px #333;
  -moz-box-shadow: inset 0px 1px 2px 0px #333;
  box-shadow: inset 0px 1px 2px 0px #333;
  border-bottom: 1px solid #d0d0d0;
}

.progress {
  height: 19px;
  background: #FFF;
  float: left;
  background: -moz-linear-gradient(top,  #ffffff 0%, #e5e5e5 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5));
  background: -webkit-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%);
  background: -o-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%);
  background: -ms-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%);
  background: linear-gradient(top,  #ffffff 0%,#e5e5e5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 );
  border-top: 1px solid #fff;
  border-bottom: 1px solid #999;
}

/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
  TINY
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/
.container_tiny {
  margin: 0 auto;
  padding: 3px;
  height: 7px;
  background: #a0a0a0;
  -webkit-box-shadow: 0px 1px 1px 0px #f0f0f0;
  -moz-box-shadow: 0px 1px 1px 0px #f0f0f0;
  box-shadow: 0px 1px 0px 0px #f0f0f0;
}

/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
  STYLES
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/

.rounded_bar_container {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.rounded {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

/* BLUE */

.blue {
  background: #00AAFF;
  background: -moz-linear-gradient(top,  #00AAFF 0%, #0093dd 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00AAFF), color-stop(100%,#0093dd));
  background: -webkit-linear-gradient(top,  #00AAFF 0%,#0093dd 100%);
  background: -o-linear-gradient(top,  #00AAFF 0%,#0093dd 100%);
  background: -ms-linear-gradient(top,  #00AAFF 0%,#0093dd 100%);
  background: linear-gradient(top,  #00AAFF 0%,#0093dd 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00AAFF', endColorstr='#0093dd',GradientType=0 );
  border-top: 1px solid #88d7ff;
  border-bottom: 1px solid #069;
}
.blue_container {background: #069;}
.blue_mortice {
  background: #046;
  border-bottom: 1px solid #08c;
}
table {
  max-width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
}

.table {
  width: 100%;
  margin-bottom: 20px;
}

.table th,
.table td {
  padding: 8px;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}

.table th {
  font-weight: bold;
}

.table thead th {
  vertical-align: bottom;
}

.table caption + thead tr:first-child th,
.table caption + thead tr:first-child td,
.table colgroup + thead tr:first-child th,
.table colgroup + thead tr:first-child td,
.table thead:first-child tr:first-child th,
.table thead:first-child tr:first-child td {
  border-top: 0;
}

.table tbody + tbody {
  border-top: 2px solid #dddddd;
}

.table .table {
  background-color: #ffffff;
}

.table-condensed th,
.table-condensed td {
  padding: 4px 5px;
}

.table-bordered {
  border: 1px solid #dddddd;
  border-collapse: separate;
  *border-collapse: collapse;
  border-left: 0;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.table-bordered th,
.table-bordered td {
  border-left: 1px solid #dddddd;
}

.table-bordered caption + thead tr:first-child th,
.table-bordered caption + tbody tr:first-child th,
.table-bordered caption + tbody tr:first-child td,
.table-bordered colgroup + thead tr:first-child th,
.table-bordered colgroup + tbody tr:first-child th,
.table-bordered colgroup + tbody tr:first-child td,
.table-bordered thead:first-child tr:first-child th,
.table-bordered tbody:first-child tr:first-child th,
.table-bordered tbody:first-child tr:first-child td {
  border-top: 0;
}

.table-bordered thead:first-child tr:first-child > th:first-child,
.table-bordered tbody:first-child tr:first-child > td:first-child {
  -webkit-border-top-left-radius: 4px;
          border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
}

.table-bordered thead:first-child tr:first-child > th:last-child,
.table-bordered tbody:first-child tr:first-child > td:last-child {
  -webkit-border-top-right-radius: 4px;
          border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
}

.table-bordered thead:last-child tr:last-child > th:first-child,
.table-bordered tbody:last-child tr:last-child > td:first-child,
.table-bordered tfoot:last-child tr:last-child > td:first-child {
  -webkit-border-bottom-left-radius: 4px;
          border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
}

.table-bordered thead:last-child tr:last-child > th:last-child,
.table-bordered tbody:last-child tr:last-child > td:last-child,
.table-bordered tfoot:last-child tr:last-child > td:last-child {
  -webkit-border-bottom-right-radius: 4px;
          border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
}

.table-bordered tfoot + tbody:last-child tr:last-child td:first-child {
  -webkit-border-bottom-left-radius: 0;
          border-bottom-left-radius: 0;
  -moz-border-radius-bottomleft: 0;
}

.table-bordered tfoot + tbody:last-child tr:last-child td:last-child {
  -webkit-border-bottom-right-radius: 0;
          border-bottom-right-radius: 0;
  -moz-border-radius-bottomright: 0;
}

.table-bordered caption + thead tr:first-child th:first-child,
.table-bordered caption + tbody tr:first-child td:first-child,
.table-bordered colgroup + thead tr:first-child th:first-child,
.table-bordered colgroup + tbody tr:first-child td:first-child {
  -webkit-border-top-left-radius: 4px;
          border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
}

.table-bordered caption + thead tr:first-child th:last-child,
.table-bordered caption + tbody tr:first-child td:last-child,
.table-bordered colgroup + thead tr:first-child th:last-child,
.table-bordered colgroup + tbody tr:first-child td:last-child {
  -webkit-border-top-right-radius: 4px;
          border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
}

.table-striped tbody > tr:nth-child(odd) > td,
.table-striped tbody > tr:nth-child(odd) > th {
  background-color: #f9f9f9;
}

.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
  background-color: #f5f5f5;
}
