body{
  margin: 0;
  padding: 0;
  background: #eee;
  font-family: arial;
}
.wrap{
  width: 960px;
  margin: 0 auto;
  padding: 10px;
}
#container{
  min-height: 600px;
  margin: 10px auto;
  border: 1px solid #ccc;
  padding: 10px;
}
#header{
  min-height: 40px;
  color: #fff;
  width: 100%;
  background: #369;
}
#render_frame{
  width: 100%;
  border: 0px;
}
.right{
  float: right;
}