body{
  margin: 0;
  padding: 0;
  padding-top: 50px;
  background: #eee;
  font-family: arial;
}
ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
.wrap{
  width: 960px;
  margin: 0 auto;
  padding: 10px;
  display: table;
}
#container{
  min-height: 600px;
  margin: 10px auto;
  border: 1px solid #ccc;
  padding: 10px;
}
#header{
  min-height: 42px;
  color: #fff;
  position: fixed;
  width: 100%;
  top: 0;
  background: #017890;
  z-index: 10;
}
.head{
  font-size: 20px;
  margin: 4px 0px;
}
.render_frame{
  width: 100%;
  border: 0px;
}
.right{
  float: right;
}
.left{
  float: left;
}
.btn {
  -moz-box-shadow:inset 0px 1px 0px 0px #dcecfb;
  -webkit-box-shadow:inset 0px 1px 0px 0px #dcecfb;
  box-shadow:inset 0px 1px 0px 0px #dcecfb;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #bddbfa), color-stop(1, #80b5ea) );
  background:-moz-linear-gradient( center top, #bddbfa 5%, #80b5ea 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bddbfa', endColorstr='#80b5ea');
  background-color:#bddbfa;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid #84bbf3;
  display:inline-block;
  color:#ffffff;
  font-family:arial;
  font-size:15px;
  font-weight:bold;
  padding:6px 24px;
  text-decoration:none;
  text-shadow:1px 1px 0px #528ecc;
}
.btn:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #80b5ea), color-stop(1, #bddbfa) );
  background:-moz-linear-gradient( center top, #80b5ea 5%, #bddbfa 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#80b5ea', endColorstr='#bddbfa');
  background-color:#80b5ea;
}
.btn:active {
  position:relative;
  top:1px;
}
#countdown{
  font-size: 1.2em;
}
#facebox h2{
  border-bottom: 1px solid #ccc;
  margin: 0;
  padding: 10px 0pc;
  border-radius: 4px 4px 0px 0px;
  margin-bottom: 14px;
  color: #369;
}
#flag_form textarea{
  width: 360px;
  height: 80px;
}